body {
    background-color: lightgray;
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

[data-toggle="toggle"] {
	display: none;
}

.label tr td label {
	display: block;
}